@import '_partials/fonts';
@import '_partials/variables';
@import '_partials/base-styles';
@import '_partials/hero-slider';
@import '_partials/navbar';
@import '_partials/sections';
@import '_partials/banner';
@import '_partials/footer';
@import '_partials/modal';