<section id="reasons">
    <div class="container">
        <h2 class="section-title">Our reasons</h2>
        <div class="row all-reasons">
            <div class="column profit" onclick="selectReason('profit')">
                <div class="circle">
                    <img src="https://againtest.azurewebsites.net/public/images/profit-icon.png" alt="Profit Icon">
                </div>
                <div class="block-title">
                    <h4>Profit</h4>
                </div>
            </div>
            <div class="column planet" onclick="selectReason('planet')">
                <div class="circle">
                    <img src="https://againtest.azurewebsites.net/public/images/planet-icon.png" alt="Planet Icon">
                </div>
                <div class="block-title">
                    <h4>Planet</h4>
                </div>
            </div>
            <div class="column people" onclick="selectReason('people')">
                <div class="circle">
                    <img src="https://againtest.azurewebsites.net/public/images/people-icon.png" alt="People Icon">
                </div>
                <div class="block-title">
                    <h4>People</h4>
                </div>
            </div>
        </div>
        <div class="block-reasons">
            <div class="block-reason profit">
                 <div class="text-block">
                    <h4>Profit</h4>
                    <p>Within business commerce, the field of expertise where planning &amp; purchasing meet sales &amp; delivery, we consider too much value to be scrapped in the process.​ Too much emphasis on “our own value chain” lets companies focus too little on structural improvement and durable efficient processes in which both supplier and client agree.​ We think that technology can be leveraged to really make this better.​</p>
                 </div>
                 <div class="icon-block">
                    <img src="https://againtest.azurewebsites.net/public/images/profit-icon.png" alt="Profit Icon">
                 </div>
                <div class="image-block"></div>
            </div>
            <div class="block-reason planet">
                <div class="text-block">
                    <h4>Planet</h4>
                    <p>Besides durable efficiency, we also recognize the waste of natures resources to be higher when only the internal scope is reconsidered as an optimization target.​ When organizations have their own financial business case on top when redesigning how they collaborate with their suppliers, we simply loose oil, clean air and fresh drinking water.​ We think that technology can be leveraged to really make this better. ​</p>
                </div>
                <div class="icon-block">
                    <img src="https://againtest.azurewebsites.net/public/images/planet-icon.png" alt="Planet Icon">
                </div>
                <div class="image-block"></div>
            </div>
            <div class="block-reason people">
                <div class="text-block">
                    <h4>People</h4>
                    <p>In the end, doing B2B business is just as much about human beings as doing B2C business. Then why should we loose sight of the human factor in all aspects of business commerce?​ Especially now that Flex is becomming a structural force in business life, it is more and more important to keep in mind that humans are the only power in business commerce. ​We think that technology can be leveraged to really make this better. ​</p>
                </div>
                <div class="icon-block">
                    <img src="https://againtest.azurewebsites.net/public/images/people-icon.png" alt="People Icon">
                </div>
                <div class="image-block"></div>
            </div>
        </div>
    </div>
</section>

<div class="banner banner-1"></div>

<section id="solutions">
    <div class="container">
        <h2 class="section-title">Our solutions</h2>
        <div class="solution-banners">
            <div class="card-container">
                <div class="card card-1">
                    <figure class="front">
                        <h2 class="solution-title">FlexForceMonkey</h2>
                        <button class="btn-green read-btn" onclick="flip('card-1')">Read more</button>
                    </figure>
                    <figure class="back">
                        <h3 class="back-title">FlexForceMonkey</h3>
                        <p class="solution-text">
                            Flexibility in organizations, both for blue collar and white collar, is hot. But joint administration on HR, Finance en Procurement data is difficult. Tried linking procurement systems to the flexile pricing of collective labor rules before? Succesfully managed invoices on unplannend and irratic delivery of hours? FlexForceMonkey is our platform for business commerce between any client and agency.
                        </p>
                        <a href="http://flexforcemonkey.com" target="_blank" class="btn-green link-btn">Visit our website</a>
                        <button class="btn-green read-btn" onclick="flip('card-1')">Close</button>
                    </figure>
                </div>
            </div>
            <div class="card-container">
                <div class="card card-2">
                    <figure class="front">
                        <h2 class="solution-title">Prototype in development</h2>
                        <button class="btn-green read-btn" onclick="flip('card-2')">Read more</button>
                    </figure>
                    <figure class="back">
                        <h3 class="back-title">Prototype in development</h3>
                        <p class="solution-text">
                            We are working on a new internet platform, fully dedicated to enabling companies in the circular economy together. Want to be updated on this topic and our developments in the coming months? Get yourselve subscribed to our mailing list straight away!
                        </p>
                        <a onclick="menuClick('#mailing')" class="btn-green link-btn">Subscribe to our newsletter</a>
                        <button class="btn-green read-btn" onclick="flip('card-2')">Close</button>
                    </figure>
                </div>
            </div>
            <div class="card-container">
                <div class="card card-3">
                    <figure class="front">
                        <h2 class="solution-title">Custom deployments</h2>
                        <button class="btn-green read-btn" onclick="flip('card-3')">Read more</button>
                    </figure>
                    <figure class="back">
                        <h3 class="back-title">Custom deployments</h3>
                        <p class="solution-text">
                            We have a nice piece of technology just waiting to be leveraged in enabling clients to perform better in their Business Commerce collaborations. When you need an infrastructure that holds functionality for Catalog-integration, process-driven XML messaging and full-service integration-as-a-service on top of it? Get in touch for a cup-of-coffee.​
                        </p>
                        <button class="btn-green read-btn" onclick="flip('card-3')">Close</button>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="banner banner-2">
    <img src="https://againtest.azurewebsites.net/public/images/desktop.jpg" alt="Desktop Banner">
</div>

<section id="three-colums">
    <div class="container">
        <div class="row">
            <div id="technology" class="column column-1">
                <h4 class="column-title">Technology</h4>
                <div class="column-text">
                    <p>
                        <a href="https://azure.microsoft.com/nl-nl/" target="_blank">Azure</a><br />
                        <a href="https://www.asp.net/" target="_blank">ASP.NET</a><br />
                        <a href="https://docs.microsoft.com/en-us/dotnet/csharp/" target="_blank">C#</a>
                    </p>
                </div>
            </div>
            <div id="careers" class="column column-1">
                <h4 class="column-title">Careers</h4>
                <div class="column-text">
                    <p>Check tech and get in touch</p>
                    <a href="http://lakran.com/vacatures/" target="_blank" class="btn-green entire-width">Vacancies (Dutch) <span class="fa fa-external-link-alt"></span></a>
                </div>
            </div>
            <div id="mailing" class="column column-1">
                <h4 class="column-title">Mailing list</h4>
                <div class="column-text">
                    <p>Subscribe to our newsletter!</p>
                    <a href="http://eepurl.com/dv9G6j" target="_blank" class="btn-green entire-width">Subscribe</a>
                </div>
            </div>
        </div>
    </div>
</section>

