.banner {
    width: 100%;
    height: 220px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-1 {
    background-image: url('https://againtest.azurewebsites.net/public/images/connect.jpg');
}

.banner-2 {
    height: auto;
    margin: -100px 0;
    @media (max-width: 580px) {
        margin: -100px 0;
    }
    @media (max-width: 415px) {
        margin: -50px 0;
    }
}