@font-face {
	font-family: 'ZwoOT';
	src: url('https://againtest.azurewebsites.net/public/fonts/ZwoOT-Light.eot');
	src: url('https://againtest.azurewebsites.net/public//fonts/ZwoOT-Light.eot?#iefix') format('embedded-opentype'),
		url('https://againtest.azurewebsites.net/public/fonts/ZwoOT-Light.woff') format('woff'),
		url('https://againtest.azurewebsites.net/public/fonts/ZwoOT-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'ZwoOT-Xbold';
	src: url('https://againtest.azurewebsites.net/public/fonts/ZwoOT-Xbold.eot');
	src: url('https://againtest.azurewebsites.net/public/fonts/ZwoOT-Xbold.eot?#iefix') format('embedded-opentype'),
		url('https://againtest.azurewebsites.net/public/fonts/ZwoOT-Xbold.woff') format('woff'),
		url('https://againtest.azurewebsites.net/public/fonts/ZwoOT-Xbold.ttf') format('truetype');
	font-weight: 800;
}

@font-face {
	font-family: 'ZwoOT-SemiBd';
	src: url('https://againtest.azurewebsites.net/public/fonts/ZwoOT-SemiBd.eot');
	src: url('https://againtest.azurewebsites.net/public/fonts/ZwoOT-SemiBd.eot?#iefix') format('embedded-opentype'),
		url('https://againtest.azurewebsites.net/public/fonts/ZwoOT-SemiBd.woff') format('woff'),
		url('https://againtest.azurewebsites.net/public/fonts/ZwoOT-SemiBd.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Lifestyle M54';
	src: url('https://againtest.azurewebsites.net/public/fonts/LifestyleM54.eot');
	src: url('https://againtest.azurewebsites.net/public/fonts/LifestyleM54.eot?#iefix') format('embedded-opentype'),
		url('https://againtest.azurewebsites.net/public/fonts/LifestyleM54.woff2') format('woff2'),
		url('https://againtest.azurewebsites.net/public/fonts/LifestyleM54.woff') format('woff'),
		url('https://againtest.azurewebsites.net/public/fonts/LifestyleM54.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lifestyle M54';
	src: url('https://againtest.azurewebsites.net/public/fonts/LifestyleM54_1.eot');
	src: url('https://againtest.azurewebsites.net/public/fonts/LifestyleM54_1.eot?#iefix') format('embedded-opentype'),
		url('https://againtest.azurewebsites.net/public/fonts/LifestyleM54_1.woff2') format('woff2'),
		url('https://againtest.azurewebsites.net/public/fonts/LifestyleM54_1.woff') format('woff'),
		url('https://againtest.azurewebsites.net/public/fonts/LifestyleM54_1.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lifestyle M54';
	src: url('https://againtest.azurewebsites.net/public/fonts/LifestyleM54_2.eot');
	src: url('https://againtest.azurewebsites.net/public/fonts/LifestyleM54_2.eot?#iefix') format('embedded-opentype'),
		url('https://againtest.azurewebsites.net/public/fonts/LifestyleM54_2.woff2') format('woff2'),
		url('https://againtest.azurewebsites.net/public/fonts/LifestyleM54_2.woff') format('woff'),
		url('https://againtest.azurewebsites.net/public/fonts/LifestyleM54_2.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
