#hero-slider {
    position: relative;
    .slide-container {
        max-width: 100%;
        position: relative;
        margin: auto;
        .myslides {
            height: $hero-height;
            width: 100%;
            display: inline-block;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            @media (max-width: 1024px) and (max-height: 485px) and (orientation: landscape) {
                height: $landscape-hero-height;
            }
            .logo {
                position: absolute;
                top: 35px;
                left: 35px;
                width: 25%;
                @media (max-width: 470px) {
                    width: 40%;
                }
                @media (max-width: 785px) and (max-height: 375px) and (orientation: landscape) {
                    width: 20%;
                }
            }
        }
        .text {
            color: #f2f2f2;
            font-size: 3rem;
            font-family: $font-bold;
            padding: 8px 12px;
            position: absolute;
            bottom: 18%;
            width: 50%;
            text-align: right;
            @media (max-width: 768px) {
                font-size: 2.4rem;
            }
            @media (max-width: 470px) {
                font-size: 2rem;
            }
        }
        .slide-1 {
            background-image: url('https://againtest.azurewebsites.net/public/images/profit-overlay.jpg');
            .text {
                @media (max-width: 575px) {
                    bottom: 50%;
                    left: 5%;
                    width: 80%;
                    text-align: left;
                }
                @media (max-width: 470px) {
                    bottom: 60%;
                }
                @media (max-width: 375px) {
                    bottom: 55%;
                    width: 95%;
                    left: 3%;
                    text-align: center;
                }
                @media (max-width: 1000px) and (max-height: 550px) and (orientation: landscape) {
                    bottom: 18%;
                    left: 3%;
                    width: 60%;
                    text-align: right;
                    font-size: 2.4rem;
                }
                @media (max-width: 785px) and (max-height: 375px) and (orientation: landscape) {
                    font-size: 2rem;
                    text-align: left;
                    bottom: 18%;
                }
            }
        }
        .slide-2 {
            background-image: url('https://againtest.azurewebsites.net/public/images/planet-overlay.jpg');
            .text {
                bottom: 60%;
                right: 5%;
                width: 60%;
                @media (max-width: 470px) {
                    width: 70%;
                }
                @media (max-width: 375px) {
                    bottom: 55%;
                    width: 95%;
                    left: 3%;
                    text-align: center;
                }
                @media (max-width: 1000px) and (max-height: 550px) and (orientation: landscape) {
                    bottom: 18%;
                    left: 3%;
                    width: 60%;
                    text-align: right;
                    font-size: 2.4rem;
                }
                @media (max-width: 785px) and (max-height: 375px) and (orientation: landscape) {
                    font-size: 2rem;
                    text-align: left;
                    bottom: 18%;
                }
            }
        }
        .slide-3 {
            background-image: url('https://againtest.azurewebsites.net/public/images/people-overlay.jpg');
            .text {
                bottom: 45%;
                width: 65%;
                left: 5%;
                text-align: left;
                @media (max-width: 470px) {
                    bottom: 50%;
                    width: 95%;
                    left: 3%;
                    text-align: center;
                }
                @media (max-width: 375px) {
                    bottom: 55%;
                }
                @media (max-width: 1000px) and (max-height: 550px) and (orientation: landscape) {
                    bottom: 18%;
                    left: 3%;
                    width: 60%;
                    text-align: right;
                    font-size: 2.4rem;
                }
                @media (max-width: 785px) and (max-height: 375px) and (orientation: landscape) {
                    font-size: 2rem;
                    text-align: left;
                    bottom: 18%;
                }
            }
        }
        .fade {
            animation-name: fade;
            animation-duration: 1.5s;
        }
        .buttons {
            position: absolute;
            right: 5%;
            bottom: 21%;
            @media (max-width: 575px) {
                bottom: 18%;
            }
            @media (max-width: 375px) {
                left: 50%;
                bottom: 20%;
                transform: translateX(-50%);
            }
            .btn-white-transparent-xl {
                width: 200px;
                margin-bottom: 10px;
                @media (max-width: 575px) {
                    padding: 10px 12px;
                    font-size: 1.2rem;
                    width: 175px;
                }
                @media (max-width: 375px) {
                    width: 100%;
                }
                @media (max-width: 1000px) and (max-height: 550px) and (orientation: landscape) {
                    padding: 10px 12px;
                    font-size: 1.2rem;
                    width: 175px;
                }
                @media (max-width: 785px) and (max-height: 375px) and (orientation: landscape) {
                    padding: 4px 8px;
                    font-size: 1rem;
                    width: 150px;
                }
            }
        }
    }
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        z-index: 9999;
        &:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
    }
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    .unslider-nav {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        @media (max-width: 785px) and (max-height: 355px) and (orientation: landscape) {
            bottom: 0;
        }
        li {
            cursor: pointer;
            height: 25px;
            width: 25px;
            margin: 0 2px;
            border: 4px solid white;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
            @media (max-width: 785px) and (max-height: 375px) and (orientation: landscape) {
                width: 18px;
                height: 18px;
                border-width: 3px;
            }
        }
        li.unslider-active, li:hover {
            background-color: white;
        }
    }
}

@keyframes fade {
    from {opacity: 0.8}
    to {opacity: 1}
}