.modal {
    display: none;
    position: fixed;
    z-index: 99999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); // Fallback color
    background-color: rgba(0,0,0,0.4);
    .modal-content {
        background-color: $light-grey;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid $grey;
        width: 60%;
        @media (max-width: 991px) {
            width: 80%;
        }
        @media (max-width: 768px) {
            width: 95%;
        }
        .modal-header {
            display: flex;
            justify-content: space-between;
            .modal-title {
                margin: 5px 0;
            }
            .close {
                background-color: transparent;
                border: none;
                font-size: 2rem;
                cursor: pointer;
            }
        }
        .modal-body {
            margin: 20px 0;
            .form-group {
                width: 100%;
                margin-bottom: 10px;
                label {
                    width: 30%;
                    float: left;
                    padding-top: 6px;
                    @media (max-width: 475px) {
                        width: 100%;
                        float: none;
                    }
                }
                input, textarea {
                    width: 70%;
                    margin: 0;
                    @media (max-width: 475px) {
                        width: 100%;
                        margin-top: 5px;
                    }
                }
                input {
                    @media (max-width: 475px) {
                        padding: 10px 6px;
                    }
                }
            }
        }
        .modal-footer {
            display: flex;
            justify-content: flex-end;
            button:first-child {
                margin-right: 8px;
            }
        }
    }
}

#success-modal {
    .modal-body {
        text-align: center;
        .fa-check-circle {
            color: $green;
            font-size: 4rem;
            margin-bottom: 15px;
        }
    }
}