// Colors
$green: #c9d304;
$green-hover: #b4bd03;
$light-green: #d9e04f;

$light-grey: #ececec;
$light-grey-hover: #dfdfdf;
$lighter-grey: #f5f5f5;
$grey: #868689;
$dark-grey: #2b2b2b;
$dark-grey-hover: #555555;

// Numbers
$hero-height: 91vh;
$nav-height: 9vh;
$landscape-hero-height: 86vh;
$landscape-nav-height: 14vh;

// Fonts
$font-normal: 'ZwoOT', Helvetica, Arial, sans-serif;
$font-bold: 'ZwoOT-SemiBd', Helvetica, Arial, sans-serif;
$font-xbold: 'ZwoOT-Xbold', Helvetica, Arial, sans-serif;
$font-logo: 'Lifestyle M54', Helvetica, Arial, sans-serif;